.key{color: white;
    margin-bottom: 5px;
    background-color: rgba(193, 203, 205, 0.599);
    text-align: left;
    border-radius: 10px;
    width:fit-content;
    color: rgb(254, 252, 252);
    padding:0vh 2vh 0vh 2vh;
font-size: large;}  
